certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
docutils==0.18.1
geojson==2.5.0
idna==3.3
Pillow==9.1.1
pyasn1==0.4.8
pycparser==2.20
Pygments==2.12.0
pyowm==3.3.0
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PySocks==1.7.1
pywin32==304
requests==2.27.1
rsa==4.6
six==1.15.0
urllib3==1.26.9
